<a href="https://colab.research.google.com/github/greatsong/2020_public_data_analysis/blob/master/00_%EB%8D%B0%EC%9D%B4%ED%84%B0%20%EB%B6%84%EC%84%9D%20%EA%B8%B0%EC%B4%88(%EA%B8%B0%EC%98%A8%2B%EC%9D%B8%EA%B5%AC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
!git clone https://github.com/greatsong/2020_public_data_analysis

In [ ]:
cd 2020_public_data_analysis/

In [ ]:
ls

## 0. 기본적으로 알아야할 몇 가지 내용

In [ ]:
#1. 데이터 타입 확인하기
print(type('1'))
print(type('3.14'))
print(type(1))
print(type(3.14))

In [ ]:
#2. 코드 줄 바꾸기
print('hello \
world')

In [ ]:
#3. 같은 값으로 채워진 리스트 N개 만들기
a = [0] * 5
print(a)

In [ ]:
#4. xticks 함수 : x축에 내용 넣기
import matplotlib.pyplot as plt
plt.bar(range(10), [0,1,2,3,4,5,6,7,8,9])
plt.xticks(range(10),range(10))
plt.show()

##  # 데이터 분석 기본 흐름

In [ ]:
#0. 전처리 : 생략
#1. (입력)데이터 불러오기 : csv 활용 -> 외울 필요 X
#2. (처리)필요한 데이터 선택하기 : 중간고사 문법 + @
#3. (처리)데이터 처리 : 중간고사 문법
#4. (저장)필요한 데이터 저장하기 : 리스트 + (딕셔너리)
#5. (출력)데이터 시각화 : 다양한 그래프 중 적합한 그래프 선택 - 꺾은선, 히스토그램, 박스플랏, (수평)막대 + (파이, 산점도, 버블)
                          # 여기에 나오는 그래프 함수 이름과 사용 방법(필수 옵션)은 외워야 함!

## 1. 기온데이터

In [ ]:
#1. 데이터 불러오기

In [ ]:
import csv

f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)

for row in data :
    print(row)
    break

In [ ]:
#2. 필요한 데이터 선택하기

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)

for row in data :
    print(row[-1])
    break

In [ ]:
#3. 데이터 처리 : 숫자로 변환하기

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)

for row in data :
    row[-1] = float(row[-1])
    print(row[-1])
    break

In [ ]:
#4. 필요한 데이터 저장하기

In [ ]:
import csv

f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
result = []

for row in data :
    result.append(float(row[-1]))
    print(result)
    break

In [ ]:
#3. 데이터 처리 : 비어있는 데이터 스킵

In [ ]:
import csv

f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
result = []

for row in data :
    if row[-1] != '' : 
        result.append(float(row[-1]))
print(result)

In [ ]:
#5. 데이터 시각화하기

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
result = []

for row in data :
    if row[-1] != '' :
        result.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.plot(result,'r') # plot : 꺾은선 그래프!
plt.show()

In [ ]:
#2. 필요한 데이터 선택하기 : split 함수 + if 조건문 사용

In [ ]:
s = 'hello python'
print(s)

In [ ]:
s = 'hello python'
print(s.split())

In [ ]:
print(s.split()[1])

In [ ]:
date = '1907-10-01'
print(date.split('-'))

In [ ]:
print(date.split('-')[0])
print(date.split('-')[1])
print(date.split('-')[2])

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
result = []

for row in data :
    if row[-1] != '' :
        if row[0].split('-')[1] == '08' :
            result.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.plot(result, 'hotpink')
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
result = []

for row in data :
    if row[-1] != '' :
        if row[0].split('-')[1] == '02' and row[0].split('-')[2] == '14' :
            result.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.plot(result, 'hotpink')
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
high = []
low = []

for row in data :
    if row[-1] != '' and row[-2] != '' :
        if row[0].split('-')[1] == '02' and row[0].split('-')[2] == '14' :
            high.append(float(row[-1]))
            low.append(float(row[-2]))

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.plot(high, 'hotpink')
plt.plot(low, 'skyblue')
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
high = []
low = []

for row in data :
    if row[-1] != '' and row[-2] != '' :
        if 2000 <= int(row[0].split('-')[0]) :
            if row[0].split('-')[1] == '02' and row[0].split('-')[2] == '14' :
                high.append(float(row[-1]))
                low.append(float(row[-2]))

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.plot(high, 'hotpink')
plt.plot(low, 'skyblue')
plt.show()

In [ ]:
#5. 데이터 시각화하기 : 히스토그램(bins 속성)

In [ ]:
import matplotlib.pyplot as plt
plt.hist([1,1,1,2,2,2,2,2,2,2,2,2,3,3,3,3,3,4,4,5,5,5,5], bins = 5)
plt.show()

In [ ]:
import random
print(random.randint(1,6))

In [ ]:
import random
for i in range(5) :
    print(random.randint(1,6))

In [ ]:
import random
dice = []
for i in range(5) :
    dice.append(random.randint(1,6))
print(dice)

In [ ]:
import random
dice = []
for i in range(5) :
    dice.append(random.randint(1,6))
print(dice)

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.hist(dice, bins = 6)
plt.show()

In [ ]:
import random
dice = []
for i in range(100) :
    dice.append(random.randint(1,6))
print(dice)

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.hist(dice, bins = 6)
plt.show()

In [ ]:
import random
dice = []
for i in range(100) :
    dice.append(random.randint(1,6))
print(dice)

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.hist(dice, bins = 6)
plt.show()

In [ ]:
import random
dice = []
for i in range(1000000) :
    dice.append(random.randint(1,6))

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.hist(dice, bins = 6)
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
result = []

for row in data :
    if row[-1] != '' :
        result.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.hist(result, bins = 100, color = 'r')
plt.show()

In [ ]:
plt.figure(dpi = 300)
plt.hist(result, bins = 1000, color = 'r')
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
aug = []

for row in data :
    month = row[0].split('-')[1]
    if row[-1] != '' :
        if month == '08':
            aug.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.hist(aug, bins = 100, color = 'r')
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
aug = []
jan = []

for row in data :
    month = row[0].split('-')[1]
    if row[-1] != '' :
        if month == '08':
            aug.append(float(row[-1]))
        if month == '01':
            jan.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.hist(aug, bins = 100, color = 'r', label = 'Aug')
plt.hist(jan, bins = 100, color = 'b', label = 'Jan')
plt.legend()
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
aug = []
jul = []

for row in data :
    month = row[0].split('-')[1]
    if row[-1] != '' :
        if month == '08':
            aug.append(float(row[-1]))
        if month == '07':
            jul.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.hist(aug, bins = 100, color = 'r', label = 'Aug', alpha = 0.3)
plt.hist(jul, bins = 100, color = 'magenta', label = 'Jul', alpha = 0.3)
plt.legend()
plt.show()

In [ ]:
#5. 데이터 시각화하기 : 박스플랏(5가지 통계적 특성 : 최댓값,1사분위,중앙값,3사분위,최솟값)

In [ ]:
import random
result = []
for i in range(13) :
    result.append(random.randint(1,1000))
print(sorted(result))
# 넘파이는 나중에 배우게 되겠지만, 유용하니 참고만 하세요!
import numpy as np
result = np.array(result)
print("1/4: " + str(np.percentile(result,25)))
print("2/4: " + str(np.percentile(result,50)))
print("3/4: " + str(np.percentile(result,75)))

import matplotlib.pyplot as plt
plt.boxplot(result)
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
result = []

for row in data :
    if row[-1] != '' :
        result.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.boxplot(result)
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
aug = []
jan = []

for row in data :
    month = row[0].split('-')[1]
    if row[-1] != '' :
        if month == '08':
            aug.append(float(row[-1]))
        if month == '01':
            jan.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.boxplot(aug)
plt.boxplot(jan)
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
aug = []
jan = []

for row in data :
    month = row[0].split('-')[1]
    if row[-1] != '' :
        if month == '08':
            aug.append(float(row[-1]))
        if month == '01':
            jan.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.boxplot([aug,jan])
plt.show()

In [ ]:
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
aug = []
jan = []

for row in data :
    month = row[0].split('-')[1]
    if row[-1] != '' :
        if month == '08':
            aug.append(float(row[-1]))
        if month == '01':
            jan.append(float(row[-1]))

import matplotlib.pyplot as plt
plt.figure(dpi = 300)
plt.style.use('ggplot')
plt.boxplot([aug,jan], showfliers=False) # 아웃라이어 값 제거
plt.xticks((1,2), ['Aug','Jan'])
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import csv
f = open('seoul_temp.csv', encoding = 'cp949')
data = csv.reader(f)
next(data)
month = [[],[],[],[],[],[],[],[],[],[],[],[]]

for row in data :
    if row[-1] != '' :
        month[int(row[0].split('-')[1])-1].append(float(row[-1]))
        
plt.figure(figsize=(10,5), dpi=300)
plt.boxplot(month, showfliers=False)

plt.show()

## 2. 인구데이터(성별 구분 X)

In [ ]:
#2. 필요한 데이터 선택하기 : in 연산자 사용

In [ ]:
print('신도림' in '서울특별시 구로구 신도림동(1153051000)')
print('1153' in '서울특별시 구로구 신도림동(1153051000)')
print('()' in '서울특별시 구로구 신도림동(1153051000)')

In [ ]:
import csv
f = open('age.csv')
data = csv.reader(f)

for row in data :
    if '신도림' in row[0] :
        print(row)

In [ ]:
import csv
f = open('age.csv')
data = csv.reader(f)

for row in data :
    if '제주' in row[0] :
        print(row)

In [ ]:
import csv
f = open('age.csv')
data = csv.reader(f)

for row in data :
    if '제주' in row[0] :
        print(row)
        break

In [ ]:
import csv
f = open('age.csv')
data = csv.reader(f)

for row in data :
    if '신도림' in row[0] :
        print(len(row[3:]))

In [ ]:
import csv
f = open('age.csv')
data = csv.reader(f)
result = []
for row in data :
    if '신도림' in row[0] :
        for i in row[3:] :
            result.append(i)
print(result)

In [ ]:
import csv
f = open('age.csv')
data = csv.reader(f)
result = []
for row in data :
    if '신도림' in row[0] :
        for i in row[3:] :
            result.append(int(i))
print(result)

In [ ]:
import csv
f = open('age.csv')
data = csv.reader(f)
result = []
for row in data :
    if '신도림동' in row[0] :
        for i in row[3:] :
            result.append(int(i))
            
import matplotlib.pyplot as plt
plt.plot(result)
plt.show()

In [ ]:
#5. 데이터 시각화하기 : 막대그래프(바플랏) - x축, y축 데이터 모두 명시해야 함!

In [ ]:
import matplotlib.pyplot as plt
plt.bar([1,2,3,5,6,7])
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize = (10,5), dpi=300)            
plt.bar([0,1,2,4,6,10], [1,2,3,5,6,7])
plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize = (10,5), dpi=300)            
plt.bar(range(6), [1,2,3,5,6,7])
plt.show()

In [ ]:
import csv
f = open('age.csv')
data = csv.reader(f)

result = []
for row in data :
    if '신도림' in row[0] :
        for i in row[3:] :
            result.append(int(i))
            
import matplotlib.pyplot as plt
plt.figure(figsize = (10,5), dpi=300)            
plt.bar(range(101), result)
plt.show()

## 3. 인구데이터(성별 구분 O)

In [ ]:
import csv
f = open('age_gender.csv')
data = csv.reader(f)

m = []
f = []
for row in data :
    if '신도림' in row[0] :
        for i in row[3:104] :
            m.append(int(i))
        for i in row[106:] :
            f.append(int(i))
            
print(len(m))
print(len(f))

In [ ]:
#5. 데이터 시각화하기 : 수평막대그래프(barh) - x축, y축 데이터 모두 명시해야 함!

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')
plt.figure(figsize = (10,5), dpi=300)            
plt.barh(range(101), m)
plt.barh(range(101), f)
plt.show()

In [ ]:
import csv
f = open('age_gender.csv')
data = csv.reader(f)

m = []
f = []
for row in data :
    if '신도림' in row[0] :
        for i in row[3:104] :
            m.append(-int(i))
        for i in row[106:] :
            f.append(int(i))
            
print(len(m))
print(len(f))

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot') # 참고만 하세요! 외울 필요 전혀 없습니다!!
plt.figure(figsize = (10,5), dpi=300) # 참고만 하세요! 외울 필요 전혀 없습니다!!
plt.rc('font', family = 'Malgun Gothic') # 참고만 하세요! 외울 필요 전혀 없습니다!!
plt.rcParams['axes.unicode_minus'] = False # 참고만 하세요! 외울 필요 전혀 없습니다!!
plt.title('신도림 지역의 남녀 성별 인구 분포')
plt.barh(range(101), m, label = '남성')
plt.barh(range(101), f, label = '여성')
plt.legend() # 참고만 하세요! 외울 필요 전혀 없습니다!!
plt.show()